* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

a {
  color: #242424;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #f9f8ff;
}

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}

.entete,
.pied-de-page {
  background-color: white;
  /* padding: 20px 50px 20px 50px; */
  height: 80px;
}
.lien-icone {
  margin: 18px 0 0 49px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  margin: 18px 49px 0 0;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.section {
  padding: 80px;
  display: flex;
  justify-content: space-around;
}
.home-contenu h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 55px;
  line-height: 66px;
  width: 349px;
}
.content {
  width: 409px;
  font-weight: 400;
  line-height: 27px;
  font-size: 20px;
  margin-top: 20px;
}
.carre-contenu {
  padding: 50px;
}
.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
}
.cta:hover {
  background: linear-gradient(#696484, #8788ba);
}
