/* importatio de la font */
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --white-color: hsl(170, 12%, 98%);
  --gray-color: hsl(170, 4%, 60%);
  --black-color: hsl(170, 12%, 8%);

  --body-font: "Bona Nova", serif;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 1120px) {
  :root {
    --normal-font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--black-color);
  color: var(--gray-color);
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
